body {
	background : url(backgroundebayece.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	max-width: 380px;
	margin: auto;
	margin-top: 100px;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	border-radius: 30px;
	padding: 40px;
	color: #fff;
	box-sizing: border-box;
}

h3{
	color: #fff;
	text-align: center;
	font-weight: bold;

}

input{
	width: 100%;
	outline: none;
	background-color: transparent;
	color: white;
	padding: 8px 6px;
	font-size: 14px;
	font-weight: bold;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px white solid;
}

button{
	width: 80;
	border-radius: 12px;
	padding: 10px;
	background-color: orange;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	margin: 30px 10px 0px 10px;

}